.Gallery {
  display: flex;
  overflow: hidden;
  height: 100vh;

  &__sidebar {
    width: 30%;

    .form {
      padding: 20px;
      display: flex;
      flex-direction: column;
    }
  }

  &__content {
    /* Take the remaining width */
    flex: 1;

    width: auto;

    /* Make it scrollable */
    overflow: auto;

    img {
      flex: 1;

      width: 500px;
      height: auto;
    }
  }
}
